* {
    cursor: none;
}

body {
    cursor: none;
}

.cursor {
    position: absolute;
    pointer-events: none;
    user-select: none;
    color: #fff;
    z-index: 100000;
    background: none;
    font-family: fira code;
    font-size: 1.8em;
    font-weight: 900;
    transform: rotate(-115deg);
    opacity: 0;
    color: white;
    mix-blend-mode: difference;
    /* padding-right: 2px; */
    /* padding-left: 2px; */
    /* transition-duration: 200ms; */
    /* transition-timing-function: ease-out; */
    border-radius: 50%;
}

body:hover .cursor {
    opacity: 100;
}

.expand {
    animation: cursorAnim3 .5s forwards;
    border: 1px solid red;
}

@keyframes cursorAnim3 {
    0% {
        transform: scale(0) rotate(-115deg);
    }

    50% {
        transform: scale(1.1) rotate(-115deg);
    }

    100% {
        transform: scale(0) rotate(-115deg);
        opacity: 0;
    }
} 