@font-face {
    font-family: ShamoilFont;
    src: url(../assassin.woff2);
}

::selection{
    background: rgba(255, 255, 255, 0.733);
    color: #000;
    text-shadow: 0 0 30px rgba(0, 0, 0);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monotype corsiva;
}

video {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 100;
    object-fit: cover;
    place-items: center;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #000;
    /* color: #fff; */
    overflow: hidden;
}




.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 1.3rem 10%;
    height: 15%;
    justify-content: space-between;
    display: flex;
    align-items: center;
    z-index: 100;
}


.header::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(2px);
    z-index: -1;
}

.header::after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    background: linear-gradient(90deg, transparent, rgba(255, 255, 255, .4), transparent);
    transition: .3s;
}

.Logo {
    font-size: 30px;
    text-decoration: none;
    font-weight: 900;
    color: #fff;
    transition: .3s;
    font-family: ShamoilFont;
}

.for {
    color: #fff;
}


.navbar i {
    position: relative;
    font-weight: 500;
    text-decoration: none;
    margin-left: 2.5rem;
    font-size: 1.3rem;
    color: #fff;
    display: inline-block;
    background-color: #ffffff00;
    padding: 10px;
    border-radius: 30px;
    transition: .5s;
    transition-delay: .1s;
    font-family: ShamoilFont;
}

.navbar i a {
    color: #fff;
    text-decoration: none;
    font-family: ShamoilFont;
}


.navbar i::before {
    content: "";
    background: #ffffff;
    position: absolute;
    width: 40%;
    height: 2px;
    border-radius: 100px;
    bottom: 5px;
    left: 15%;
    transform: scaleX(0);
    transition: .5s;
    transform-origin: left;
}

.navbar i:hover::before {
    transform: scaleX(1);
}


.you.active::before,
.you2.active2::before,
.you4.active4::before {
    transform: scaleX(1);
}

#check {
    display: none;
}

.ShIcon {
    position: absolute;
    right: 5%;
    font-size: 2.8rem;
    color: #fff;
    display: none;
}

/* BREAKPOINTS */


@media (max-width: 992px) {
    .header {
        padding: 1.3rem 5%;
    }
}


@media (max-width: 800px) {

    .navbar i::before {
        display: none;
    }

    .ShIcon {
        display: inline-flex;
    }

    #check:checked~.ShIcon #menu-icon {
        display: none;
    }

    .ShIcon #close-icon {
        display: none;
    }

    #check:checked~.ShIcon #close-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        background: rgba(0, 0, 0, .5);
        top: 200%;
        right: 30%;
        height: 17.7rem;
        width: 40%;
        backdrop-filter: blur(10px);
        box-shadow: 0 5px 10px rgba(128, 128, 128, 0.186);
        transition: 0.3s ease;
        overflow: hidden;
        border-radius: 20px;
        transform: scale(0);
        transform-origin: top;
    }

    #check:checked~.navbar {
        transform: scale(1);
        transform-origin: bottom;
    }

    /* .navbar a::after{
       display: none;
    } */

    /* .navbar i::after{
        content:"";
        position: relative;
        left: 285px;
        bottom: -3px;
        background-color: #0ef;
        width: 16%;
        height: 3px;
        border-radius: 5px;
        transition: .5s;
        display: block;
        transform: scaleX(0);
        transform-origin: center;
    }  */
    /* .navbar i:hover:after{
        transform: scaleX(1);
        transform-origin: top;
    } */
    /* .navbar a:hover::after{
       display: none;
    } */
    .navbar i {
        display: block;
        font-size: 1.1rem;
        margin: 1.5rem 0;
        text-align: center;
        transform: translateY(-60px);
        opacity: 0;
        transition: 0s;
    }

    .navbar i:hover {
        background: rgba(255, 255, 255, 0.056);
        border-radius: 0;
    }

    #check:checked~.navbar i {
        transform: translateY(0px);
        transition-delay: calc(.1s * var(--i));
        opacity: 1;
    }

}





.wrapper {
    position: relative;
    top: 50px;
    /* left: 35%; */
    width: 400px;
    height: 440px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 20px;
    backdrop-filter: blur(5px);
    box-shadow: 0 0 30px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform .5s ease, height .2s ease, left .5s ease;
    overflow: hidden;
    left: 100%;
    transform: scale(0);
}



.wrapper.active-popup {
    transform: scale(1);
    left: 0;
    display: flex;
}

.wrapper.active {
    height: 490px;
}


.wrapper .form-box {
    width: 100%;
    padding: 40px;
}


.wrapper .form-box.login {
    transition: transform .18s ease;
    transform: scale(1);
    opacity: 1;
}

.wrapper.active .form-box.login {
    transition: none;
    transform: scale(0);
    opacity: 0;
}

.wrapper .form-box.register {
    position: absolute;
    transition: none;
    transform: scale(0);
    opacity: 0;
}

.wrapper.active .form-box.register {
    transition: transform .18s ease;
    transform: scale(1);
    opacity: 1;
}


.wrapper .icon-close {
    position: absolute;
    top: 0;
    right: 0;
    width: 45px;
    height: 45px;
    color: #fff;
    background-color: #ffffff38;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
    border-bottom-left-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    z-index: 1;
    transition: .3s;
}

.wrapper .icon-close:hover {
    color: #000;
    background-color: #fff;
}


.form-box h2 {
    font-size: 2.5em;
    color: #fff;
    text-align: center;
}


.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}



.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1.3em;
    font-weight: 500;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}


.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
    color: #fff;
}


.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border-bottom: 2px solid #fff;
    font-size: 1.3em;
    color: #fff;
    font-weight: 500;
    padding: 0 35px 0 5px;
    transition: .5s;
}


.input-box i {
    font-size: 1.2em;
    position: absolute;
    right: 8px;
    color: #fff;
    line-height: 57px;
    transition: .5s ease;
}


.input-box input:focus~i,
.input-box input:valid~i {
    color: #fff;
}


.remember-forgot {
    font-size: .9em;
    color: #fff;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}


.remember-forgot label input {
    accent-color: #fff;
    margin-right: 3px;
}


.remember-forgot a {
    color: #fff;
    text-decoration: none;
}


.remember-forgot a:hover {
    text-decoration: underline;
}


.btn {
    position: relative;
    width: 100%;
    height: 45px;
    border: none;
    outline: none;
    border-radius: 50px;
    font-size: 1.6em;
    color: #fff;
    font-weight: 500;
    overflow: hidden;
    z-index: 1;
    background: transparent;
    border: 1px solid #fff;
    transition: .5s ease;
}

.btn:hover {
    background-color: #fff;
    color: black;
}



.register-link,
.login-link {
    font-size: .9em;
    color: #fff;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 10px;
}


.register-link p a,
.login-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 700;
}

.register-link p a:hover,
.login-link p a:hover {
    text-decoration: underline;
}



.remember-forgot .dual {
    color: #fff;
    margin-left: 2px;
    text-decoration: none;
    font-size: .9em;
    font-weight: 700;
    /* color: red; */
}


.remember-forgot .dual:hover {
    text-decoration: underline;
}

.alert {
    background: red;
    color: #fff;
}